body
{
    text-align: left;
    font-family: arial,sans-serif;
}

input {
    font-family:inherit;
}

a:visited  {
    color:#551A8B;
}

h2 {
    font-weight:normal;
    margin:0;
    color:#4C9FE1;
}

h3 {
    font-weight:normal;
    margin:0;
}

code {
    color:Green;
}

strong {
    font-weight:bold;
}